.manifold-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #6b6b6b;
  border-radius: 26px;

  .tab-switch-container {
    display: flex;
    flex-direction: row;

    padding: 0 15px;
    width: 100%;
  }

  .tab-switch {
    display: inline-block;

    flex-grow: 1;

    margin: 0 4px;
    padding: 13px 0;
    border-radius: 999px;

    cursor: pointer;
    transition: 0.3s all;

    &:hover:not(.active) {
      background: #faaeda;
    }

    &.active {
      background: #d34cc8;

      .tab-switch-icon {
        color: white;
      }
    }

    .icon-container {
      text-align: center!important;
    }

    .tab-switch-icon {
      transition: 0.3s all;
      font-size: 200%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.man-component {
  .title {
    color: #fafafa;
  }

  .man-sub-component {
    transition: 0.3s;
    cursor: pointer;

    font-weight: 600;
    font-size: 110%;

    background: #727272;

    &.button {
      border-radius: 12px;
      padding: 6px 12px;
      
      &:hover {
        background: #e017ae;
      }
    }
  }
}